@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 10rem;
}

hr {
    margin: 1rem;
    color: hsl(236, 13%, 42%);
}

main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

#mobile {
    display: none;
    align-items: center;
}

#close{
    display: none;
}

main .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#links {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
#links li {
    list-style-type: none;
    gap: 0.5rem;
}

#links a {
    text-decoration: none;
    font-style: normal;
    margin: 1rem;
    font-weight: 600;
    color: #001253;
    cursor: pointer;
}

#links a:hover,
#links li a:active {
    color: hsl(5, 85%, 63%);
    transition: 0.2s ease-in-out;
}

#links li a.active::after,
#links li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

main #main-page {
    display: flex;
    align-items: center;
    margin: 0.875rem;
}

main #main-page .contain {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

main .contain .desktop {
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-bottom: 2rem;
}

main .min-caption {
    background-color: hsl(240, 100%, 5%);
    margin: 1rem;
    height: 76vh;
    color: #fff;
    padding: 1.5rem;
}

main .min-caption h2 {
    color: hsl(35, 77%, 62%);
    margin-bottom: 1.5rem;
}

main .min-caption h4 {
    color: #fff;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

main .min-caption p {
    font-size: 0.8rem;
    color: hsl(30, 2%, 64%);
    margin-bottom: 1.5rem;
}

main .min-caption h3 {
    margin-bottom: 1.5rem;
}

main .min-caption h3 span {
    color: hsl(35, 77%, 62%);
}

main .contain .caption {
    display: flex;
    justify-content: center;
    margin: 0.875rem;
}
main .contain .caption h1 {
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    font-size: 34px;
}
main .contain .read{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main .contain .read p {
    font-size: 12px;
    font-weight: 500;
    color: hsl(236, 13%, 42%);
    margin-bottom: 2rem;
}

main .contain .read .btn {
    border: transparent;
    background-color: hsl(240, 100%, 5%);
    padding: 0.5rem 1.2rem ;
    color: #fff;
    cursor: pointer;
}

main .contain .read .btn a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}
main .contain .read .btn a:hover {
    color: rgba(4, 3, 71, 0.849);
}
main .contain .read .btn:hover {
    background-color: hsl(5, 85%, 63%);
    
}

main .sub-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 00.875rem;
    margin-top: 2rem;
}

main .sub-main img {
    height: 25vh;
}

main .sub-main .caption-1 {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

main .sub-main .caption-1 h2 {
    color: hsl(233, 8%, 79%);
    margin: 0.5rem;
}
main .sub-main .caption-1 h4 {
    margin-bottom: 0.5rem;
    cursor: pointer;
}
main .sub-main .caption-1 h4:hover {
    color: hsl(5, 85%, 63%);
}
main .sub-main .caption-1 p {
    font-size: 12px;
    font-weight: 600;
    color: hsl(236, 13%, 42%);
}

/* media queries */

@media (max-width: 799px) {
    #links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -18.75rem;
        height: 100vh;
        width: 20rem;
        background-color: #e3e6f3;
        padding: 5rem 0 0 0.5rem;
        transition: 0.3s;
    } 
    #links.active{
        right: 10rem;
    }
    #links li {
        margin-bottom: 1.563rem;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
     #close {
        display: inherit;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}

@media (max-width: 477px) {
    main .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    } 
    #links.active{
        right: 0px;
    }
    #links li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}